/*Mini reset de formatações*/
*{
    font-size: 100%;
    font-style: normal;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

#calcBody{
    width: 60%;
    margin: 2% auto;
    background-color: #2e2e2e;
    padding: 5%;
}

/*Input e output de valores da calculadora*/
#calcInput{
    width: 60vw;
    height: 5vh;
    text-align: center;
    margin: 2% auto;
}

/*Botões da calculadora*/
#buttonList{
    font-family: Arial, Helvetica, sans-serif;
    margin: 1rem 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0.5rem 0.7rem;
}
#buttonList button{
    border: 1px solid #000;
    border-radius: 10px;
    height: 6vh;
    cursor: pointer;
}
#buttonList button:hover{
    background-color: #67fc59;
    box-shadow: #27ff4b 0 0 15px 0.5px;
    color: #130000;
    font-weight: bold;
}
.btnNumbers{
    font-size: 1.2rem;
    background-color: #ccc;
    color: #000;
}
.btnControls{
    background-color: #12d600;
    color: #000;
}
.btnOperators{
    background-color: #035500;
    color: #fff;
}
.btnFunction{
    background-color: var(--bg-function-list-button-color);
    color: var(--text-function-list-button-color);
}